<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddd.presentation">

    <application>
        <activity android:name=".ui.manager.MoveCheckAttendance"></activity>
        <activity android:name=".ui.main.ImageDetailActivity" />
        <activity android:name=".ui.manager.ManagerActivity" />
        <activity android:name=".ui.tutorial.TutorialActivity" />
        <activity android:name=".ui.splash.SplashActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.tutorial.login.LoginActivity" />
    </application>

</manifest>